 <h1>Poker Cards</h1>
 
 <%= link_to 'Refresh this page to deal a new hand.',  poker_path %>
 <hr>
  <%= @number_1%13+1 %>
  <%= @suit_1 %>
  </br>
  <%= @number_2%13+1 %>
  <%= @suit_2 %>
  </br>
  <%= @number_3%13+1 %>
  <%= @suit_3 %>
  </br>
  <%= @number_4%13+1 %>
  <%= @suit_4 %>
  </br>
  <%= @number_5%13+1 %>
  <%= @suit_5 %>
  </br>